table#todos
  thead
    tr
      th Completed
      th Title
      th Due Date
      th Priority
      th Delete
  tbody
    each todo in todos
      tr(data-priority-id=todo.id, style='background-color:#{todo.priority.color};')
        td: input.completed(type="checkbox")
        td= todo.title
        td= todo.dueDate
        td= todo.priority.name
        td: a.button.expand.alert.delete(href="") Delete